In [ ]:
import sys
import os

sys.path.append(os.path.abspath('../src'))

from data.load_data import load_movielens
import pandas as pd

In [2]:
data = load_movielens()

In [3]:
data['ratings'].head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
data["movies_merge"].sample(5)

,movieId,title,genres,imdbId,tmdbId
9678,183295,Insidious: The Last Key (2018),Horror|Mystery|Thriller,5726086,406563.0
6895,63436,Saw V (2008),Crime|Horror|Thriller,1132626,11917.0
4692,7005,King Ralph (1991),Comedy,102216,10804.0
4875,7305,Black Widow (1987),Crime|Drama|Mystery|Thriller,90738,19345.0
353,408,8 Seconds (1994),Drama,109021,18069.0

In [5]:
df = data["movies_merge"]
df['genres'] = df['genres'].str.split('|')

ratings = data['ratings']    
ratings['timestamp']  = pd.to_datetime(ratings['timestamp'] , unit='s')

In [6]:
df.to_csv(r"C:\Users\sarva\MoviePulse\data\processed\movies_clean.csv", index=False)
ratings.to_csv(r"C:\Users\sarva\MoviePulse\data\processed\ratings_clean.csv", index=False)