In [1]:
import sys
import os

sys.path.append(os.path.abspath('..'))

from src.data.load_data import load_movielens
import pandas as pd

In [2]:
data = load_movielens()

In [3]:
data['ratings'].head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
data["movies_merge"].sample(5)

,movieId,title,genres,imdbId,tmdbId
1029,1341,Burnt Offerings (1976),Horror,74258,13549.0
2648,3545,Cabaret (1972),Drama|Musical,68327,10784.0
4436,6552,Dirty Pretty Things (2002),Crime|Drama|Thriller,301199,3472.0
2156,2871,Deliverance (1972),Adventure|Drama|Thriller,68473,10669.0
8491,113350,I'll Follow You Down (2013),Drama|Mystery|Sci-Fi,2048770,273404.0

In [5]:
df = data["movies_merge"]
df['genres'] = df['genres'].str.split('|')

ratings = data['ratings']    
ratings['timestamp']  = pd.to_datetime(ratings['timestamp'] , unit='s')

In [6]:
df.to_csv(r"C:\Users\sarva\MoviePulse\data\processed\movies_clean.csv", index=False)
ratings.to_csv(r"C:\Users\sarva\MoviePulse\data\processed\ratings_clean.csv", index=False)

In [5]:
import pandas as pd

ratings_df = pd.read_csv(r"C:\Users\sarva\MoviePulse\data\processed\ratings_clean.csv")
metadata_df = pd.read_csv(r"C:\Users\sarva\MoviePulse\data\processed\movie_feature.csv")


ratings_with_tmdb = pd.merge(ratings_df, metadata_df[['movieId', 'tmdbId']], on='movieId', how='left')


ratings_with_tmdb = ratings_with_tmdb.dropna(subset=['tmdbId'])


ratings_with_tmdb.to_csv(r'C:\Users\sarva\MoviePulse\data\processed\ratings_cleans.csv', index=False)

print("Saved: data/processed/ratings_with_tmdb.csv")

Saved: data/processed/ratings_with_tmdb.csv