In [7]:
import sys
import os

sys.path.append(os.path.abspath('..'))

from src.data.load_data import load_movielens
import pandas as pd

In [3]:
data = load_movielens()

In [4]:
data['ratings'].head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
data["movies_merge"].sample(5)

      movieId                     title  genres  imdbId    tmdbId
6634    56286      I'm Not There (2007)   Drama  368794    3902.0
6364    49735  Another Gay Movie (2006)  Comedy  443431   12795.0
2535     3395             Nadine (1987)  Comedy   93596   61178.0
2251     2988  Melvin and Howard (1980)   Drama   81150   38772.0
4413     6514     Ring of Terror (1962)  Horror   56415  113739.0

In [6]:
df = data["movies_merge"]
df['genres'] = df['genres'].str.split('|')

ratings = data['ratings']    
ratings['timestamp']  = pd.to_datetime(ratings['timestamp'] , unit='s')

In [7]:
df.to_csv(r"C:\Users\sarva\MoviePulse\data\processed\movies_clean.csv", index=False)
ratings.to_csv(r"C:\Users\sarva\MoviePulse\data\processed\ratings_clean.csv", index=False)

In [8]:
movies = pd.read_csv(r"C:\Users\sarva\MoviePulse\data\processed\movies_clean.csv")
tmdb_to_movie = dict(zip(movies['tmdbId'], movies['movieId']))

In [5]:
import pandas as pd

ratings_df = pd.read_csv(r"C:\Users\sarva\MoviePulse\data\processed\ratings_clean.csv")
metadata_df = pd.read_csv(r"C:\Users\sarva\MoviePulse\data\processed\movie_feature.csv")


ratings_with_tmdb = pd.merge(ratings_df, metadata_df[['movieId', 'tmdbId']], on='movieId', how='left')


ratings_with_tmdb = ratings_with_tmdb.dropna(subset=['tmdbId'])


ratings_with_tmdb.to_csv(r'C:\Users\sarva\MoviePulse\data\processed\ratings_cleans.csv', index=False)

print("Saved: data/processed/ratings_with_tmdb.csv")

Saved: data/processed/ratings_with_tmdb.csv

In [5]:
import pandas as pd
import os

main_metadata_path = r"C:\Users\sarva\MoviePulse\data\processed\movies_metadata_full.csv"

poster_data_path = r"C:\Users\sarva\MoviePulse\data\processed\posters_minimal.csv"

output_path = r"C:\Users\sarva\MoviePulse\data\processed\movies_metadata_full.csv"

# --- 2. Load the Datasets ---
print("Loading datasets...")
try:
    main_df = pd.read_csv(main_metadata_path)
    poster_df = pd.read_csv(poster_data_path)
    print(" Datasets loaded successfully.")
except FileNotFoundError as e:
    print(f" Error: {e}")
    print("Please make sure the file paths are correct and you've saved your poster data.")

Loading datasets...
 Datasets loaded successfully.

In [6]:
print("\nMerging the dataframes on 'tmdbId'...")

poster_columns_to_merge = ['tmdbId', 'poster_path'] 


enriched_df = pd.merge(main_df, poster_df[poster_columns_to_merge], on='tmdbId', how='left')

print(" Merge complete.")
print("\nPreview of the final combined data:")
print(enriched_df[['title', 'tmdbId', 'poster_path']].head())


print(f"\nSaving the final enriched file to: {output_path}")
enriched_df.to_csv(output_path, index=False)
print("All done! Your new file is ready.")

Merging the dataframes on 'tmdbId'...
 Merge complete.

Preview of the final combined data:
                         title   tmdbId                       poster_path
0                    Toy Story    862.0  /uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg
1             Grumpier Old Men  15602.0  /1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg
2  Father of the Bride Part II  11862.0  /rj4LBtwQ0uGrpBnCELr716Qo3mw.jpg
3            Waiting to Exhale  31357.0  /qJU6rfil5xLVb5HpJsmmfeSK254.jpg
4                      Jumanji   8844.0  /p67m5dzwyxWd46a6of2c9IVfQz7.jpg

Saving the final enriched file to: C:\Users\sarva\MoviePulse\data\processed\movies_metadata_full.csv
All done! Your new file is ready.

In [ ]:
import pandas as pd

metadata_path = r"C:\Users\sarva\MoviePulse\data\processed\movies_metadata_full.csv"
enriched_path = r"c:\Users\sarva\MoviePulse\data\processed\movie_feature_enriched.csv"

df_meta = pd.read_csv(metadata_path)
df_enriched = pd.read_csv(enriched_path)


print("Metadata columns:", df_meta.columns.tolist())
print("Enriched columns:", df_enriched.columns.tolist())

if 'tmdbId' not in df_meta.columns or 'tmdbId' not in df_enriched.columns:
    raise ValueError("Both datasets must have the column 'tmdbId'")

merged_df = pd.merge(df_meta, df_enriched, on='tmdbId', how='left')

print("Merged shape:", merged_df.shape)
merged_df.head()

output_path = r"C:\Users\sarva\MoviePulse\data\processed\movies_metadata_enriched.csv"
merged_df.to_csv(output_path, index=False)
print(f" Merged data saved to: {output_path}")

Metadata columns: ['tmdbId', 'title', 'overview', 'tagline', 'genres', 'runtime', 'release_date', 'language', 'vote_average', 'vote_count', 'popularity', 'cast', 'crew', 'keywords', 'reviews', 'poster_path']
Enriched columns: ['movieId', 'title', 'genres', 'imdbId', 'tmdbId', 'genre_count', 'main_genre', 'avg_ratings', 'num_ratings', 'compound', 'neg', 'neu', 'pos', 'num_reviews']
Merged shape: (9734, 29)
 Merged data saved to: C:\Users\sarva\MoviePulse\data\processed\movies_metadata_enriched.csv